*, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, .Welcome {
    min-height: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}